*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
display: flex;
align-items: center;
justify-content: center;
height: 20vh;
 
}

.slider{
    width: 500px;
    height: 300px;
    position: relative;
}

.slider img{
    width: 100%;
    object-fit: cover;
    z-index: 10;
    animation: slide 1s ease-in infinite;
   /* animation-play-state: paused; */
}

.left{
    position: absolute;
    left: 0px;
    top: 50%;
    z-index: 20;
    width: 50px;
    height: 40px;
    background-color: red;
    padding: 5px 4px;
    cursor: pointer;
}

.left-arrow{
    color: white ;
}

.right{
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 20;
    width: 50px;
    height: 40px;
    background-color: red;
    padding: 5px 4px;
    cursor: pointer;
}

.right-arrow{
    color: white ;
}

@keyframes slide {
    to{
        transform: translateX(20px);
    }
}